.actionCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  .actionCards {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .actionCards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1441px) {
  .actionCards {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
  }
}
