article {
  background: var(--card);
  /* background: #000; */
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

h3 {
  font-weight: normal;
  margin-bottom: 0.15rem;
}

p {
  font-weight: light;
  color: var(--text-muted);
}

article:hover,
article:focus {
  box-shadow: 0 0 0 0.5px var(--borderC), 0 8px 20px var(--border);
}

.actionIcon {
  background: var(--bgColor);
  padding: 1.1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--card);
}

@media screen and (max-width: 480px) {
  .actionIcon {
    transform: scale(0.9);
    padding: 1rem;
  }
}
