article {
  background: var(--card);
  /* background: #000; */
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px var(--border);
}

.statsCard__left {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.statsCard__left h2 {
  margin-bottom: 0.15rem;
  font-size: 2rem;
}

.statsCard__left small {
  font-size: 1rem;
  color: var(--text-muted);
}

.statsCard__right {
  background: hsl(from var(--color) h s calc(l + 55));
  padding: 0.75rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
}
