.statCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 480px) {
  .statCards {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .statCards {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 1441px) {
  .statCards {
    grid-gap: 3rem;
  }
}
